<template>
  <div class="app-container">
    <el-form :inline="true"
      :model="prodSearch"
      ref='prodSearch'
      class="demo-form-inline">
      <el-form-item label="水文站名">
        <el-select v-model="prodSearch.Station"
          placeholder="请选择">
          <el-option v-for="item in stationList"
            :key="item.key"
            :label="item.label"
            :value="item.key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="时间">
        <el-date-picker v-model="prodSearch.Date"
          type="date"
          placeholder="选择日期"
          value-format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>
      </el-form-item>
      <el-form-item :inline="true">
        <el-button type="primary"
          @click="searchBtn">查询</el-button>
        <el-button type="primary"
          @click="exportEecel">导出EXCEL</el-button>
      </el-form-item>
    </el-form>
    <el-form :inline="true">
      <el-form-item label="今日水位">
        <el-input class="WaterDepthStyle"
          placeholder="今日水位"
          type="number"
          v-model="ToDayWaterDepth">
          <template slot="append">m</template>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
          @click="updateReport">修改并提交</el-button>
      </el-form-item>
    </el-form>
    <el-row :gutter="5">
      <el-col :span="9">
        <el-amap id="map-container"
          :zoom="zoom"
          :center="center"
          v-if="hasMap">
          <el-amap-marker vid="component-marker"
            :position="componentMarker.position"
            :content-render="componentMarker.contentRender"
            :visible="componentMarker.visible"></el-amap-marker>
          <el-amap-marker v-for="(marker, index) in markers"
            :key='index'
            :position="marker.position"
            :visible="marker.visible"
            :vid="index"></el-amap-marker>
        </el-amap>
        <div class="noSign"
          v-else>{{showText}}</div>

      </el-col>
      <el-col :span="15">
        <el-table class="table"
          :data="reportList"
          v-loading='listLoading'
          element-loading-text="稍等..."
          border
          fit
          highlight-current-row>
          <el-table-column align="center"
            label='起点距'
            prop="Starting">
          </el-table-column>
          <el-table-column align="center"
            label='总转数'
            prop="CircleNum"
            width="100px">
            <template slot-scope="scope">
              <el-input v-model="scope.row.CircleNum"></el-input>
            </template>
          </el-table-column>
          <el-table-column align="center"
            label='总历时(s)'
            prop="TakeTime"
            width="100px">
            <template slot-scope="scope">
              <el-input v-model="scope.row.TakeTime"></el-input>
            </template>
          </el-table-column>
          <el-table-column align="center"
            label='水位(m)'>
            <template slot-scope="scope">{{ToDayWaterDepth}}
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-card class="card">
      <img :src="picUrl"
        class="image"></el-card>
  </div>
</template>
<script>
import { Message } from 'element-ui';
import { reportList, exportExcel, updateReport } from '@/api/user';
import { parseTime, downloadFile } from '@/utils/index';
import { lazyAMapApiLoaderInstance } from 'vue-amap';
const stationList = [
  {
    key: 1,
    label: '翔凤桥',
    position: [120.410658, 30.154332],
    visible: true,
    contentRender: (h, instance) =>
      h(
        exampleComponents,
        {
          style: { backgroundColor: '#fff' },
          props: { text: '翔凤桥水文站' }
        },
        ['xxxxxxx']
      )
  },
  {
    key: 2,
    label: '马社桥',
    position: [120.303339, 30.125008],
    visible: true,
    contentRender: (h, instance) =>
      h(
        exampleComponents,
        {
          style: { backgroundColor: '#fff' },
          props: { text: '马社桥水文站' }
        },
        ['xxxxxxx']
      )
  }
];

const exampleComponents = {
  props: ['text'],
  template: `<div>{{text}}</div>`
};
export default {
  data() {
    return {
      showText: '',
      stationList,
      ToDayWaterDepth: null,
      prodSearch: {
        Station: 1,
        Date: parseTime(Date.now())
      },
      listLoading: false,
      hasMap: false,
      ReportID: null,
      reportList: [],
      picUrl: '',
      zoom: 12,
      center: [0, 0],
      componentMarker: {},
      markers: [
        {
          position: [0, 0],
          visible: true,
          contentRender: (h, instance) =>
            h(
              exampleComponents,
              {
                style: { backgroundColor: '#fff' },
                props: { text: '签到处' }
              },
              ['xxxxxxx']
            )
        }
      ]
    };
  },
  methods: {
    getList() {
      this.listLoading = true;
      const selStationIndex = this.prodSearch.Station - 1;
      this.componentMarker = this.stationList[selStationIndex];
      reportList(this.prodSearch).then(res => {
        if (res && res.StatusCode && res.StatusCode === 1) {
          const dataInfo = res.Data;
          if (dataInfo) {
            this.hasMap = true;
            this.listLoading = false;
            this.ReportID = dataInfo.ReportID;
            this.reportList = dataInfo.Reports;
            this.ToDayWaterDepth = dataInfo.Reports[0].WaterDepth;
            let picUrl = JSON.parse(dataInfo.Picture);
            this.picUrl = picUrl.length
              ? 'http://swzwxapi.yigshop.com' + picUrl[0]
              : '/static/noPic.png';

            this.center = [dataInfo.Lng, dataInfo.Lat];
            this.markers.push({ position: [dataInfo.Lng, dataInfo.Lat] });
            this.markers.push(this.stationList[selStationIndex]);
          } else {
            this.hasMap = false;
            this.reportList = [];
            this.ToDayWaterDepth = 0;
            this.picUrl = '/static/noPic.png';
            this.showText =
              parseTime(this.prodSearch.Date, '{y}-{m}-{d}') + '未签到！';
            this.listLoading = false;
            Message({
              message: '本次查询没有数据',
              type: 'info',
              duration: 2 * 1000
            });
          }
        }
      });
    },
    searchBtn() {
      this.componentMarker = {};
      this.markers = [];
      this.getList();
    },
    exportEecel() {
      exportExcel(this.prodSearch).then(res => {
        if (res && res.StatusCode === 1) {
          const download = process.env.BASE_API + '\\' + res.Data;
          downloadFile(download);
        }
      });
    },
    updateReport() {
      const Report = this.reportList.map(item => {
        return { CircleNum: item.CircleNum, TakeTime: item.TakeTime };
      });
      const data = {
        ReportID: this.ReportID,
        WaterDepth: this.ToDayWaterDepth,
        Reports: Report
      };
      updateReport(data).then(res => {
        Message({
          message: '提交成功！',
          type: 'success',
          duration: 2 * 1000
        });
      });
    }
  },
  created() {
    this.getList();
  }
};
</script>
<style lang="scss">
.app-container {
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}
#map-container {
  width: 500px;
  height: 500px;
}
.noSign {
  font-size: 20px;
  color: #999;
}
// #map-container {
//   margin: 0 auto;
// }
</style>
