<template>
  <div class="container">
    <el-form :inline="true"
      :model="Search"
      ref='Search'
      class="demo-form-inline">
      <el-form-item label="水文站名">
        <el-select v-model="Search.Station"
          placeholder="请选择">
          <el-option v-for="item in stationList"
            :key="item.key"
            :label="item.label"
            :value="item.key">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="年份">
        <el-date-picker v-model="Search.Year"
          type="year"
          placeholder="选择年">
        </el-date-picker>
      </el-form-item>
      <el-form-item :inline="true">
        <el-button type="primary"
          @click="searchBtn">查询</el-button>
        <el-button type="primary"
          @click="exportFlow">导出EXCEL</el-button>
      </el-form-item>
    </el-form>
    <p class="label">{{year}}年翔凤桥站逐日平均流量表</p>
    <span class="unit">流量：m3/s</span>
    <el-table ref="singleTable"
      :data="tableData"
      highlight-current-row
      v-loading='listLoading'
      height="600"
      border
      stripe>
      <el-table-column label="日/月"
        width="100"
        prop="name"
        align="center">
      </el-table-column>
      <el-table-column v-for="index in 12"
        :key="index"
        :prop="index+'月'"
        :label="index+'月'"
        align="center">
        <template slot-scope="scope">
          {{scope.row[index+'月'] == 0 ? '——': scope.row[index+'月']}}
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
import { Message } from 'element-ui';
import { flowList, exportFlow } from '@/api/user';
import { parseTime, downloadFile } from '@/utils/index';
const stationList = [
  {
    key: 1,
    label: '翔凤桥'
  },
  {
    key: 2,
    label: '马社桥'
  }
];
export default {
  data() {
    return {
      listLoading: false,
      stationList,
      year: null,
      Search: {
        Station: 1,
        Year: Date.now()
      },
      tableData: []
    };
  },
  methods: {
    getData() {
      this.listLoading = true;
      let SearchData = Object.assign({}, this.Search);
      SearchData.Year = +parseTime(SearchData.Year, '{y}');
      this.year = SearchData.Year;
      flowList(SearchData).then(res => {
        this.listLoading = false;
        const data = res.Data;
        if (data) {
          let List = data.Flows;
          const showList = [];
          List.forEach((item, index) => {
            let obj = {};
            switch (index) {
              case 31:
                obj.name = '上旬总数';
                break;
              case 32:
                obj.name = '中旬总数';
                break;
              case 33:
                obj.name = '下旬总数';
                break;
              case 34:
                obj.name = '月总数';
                break;
              case 35:
                obj.name = '月平均';
                break;
              default:
                obj.name = index + 1;
            }
            showList.push(obj);
            let j = 1;
            for (j; j <= 12; j++) {
              showList[index][j + '月'] = item[j - 1];
            }
          });
          showList.push({
            name: '年统计',
            '1月': '总数：',
            '2月': data.YearSum,
            '7月': '平均：',
            '8月': data.YearAvg
          });
          this.tableData = showList;
        } else {
          this.listLoading = false;
          this.tableData = [];
          Message({
            message: '本次查询没有数据',
            type: 'info',
            duration: 2 * 1000
          });
        }
      });
    },
    searchBtn() {
      this.getData();
    },
    exportFlow() {
      exportFlow(this.Search).then(res => {
        if (res && res.StatusCode === 1) {
          const download = process.env.BASE_API + '\\' + res.Data;
          downloadFile(download);
        }
      });
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
<style  rel="stylesheet/scss" lang="scss" scoped>
.container {
  margin: 20px;
  text-align: center;
}
.label {
  font-size: 20px;
  color: #666;
}
.unit {
  float: right;
  font-size: 12px;
  color: #666;
}
</style>
